/*      Laptop 1440px       */

@media all and (min-width: 1024px) and (max-width: 1440px) {
    *{
        max-width: 1440px;
    }
/*    header section    */
    .hero-section{
        position: relative;
        top: 10vh;
    }
    .hero-content{
        top: 10vh;
    }
    .hero-content>p{
        width: 114%;
    }
    .hero-img {
        bottom: 300px;
        left: -0.1vw;
    }
    .hero-img>img{
        max-width: 120%;
    }

    /*      About Section   */
    .about-section{
        bottom: 50vh;
    }
    .about-section >.about-text{
        position: relative;
        top: 15vh;
    }


    }