/*      Laptop 1440px       */

@media all and (min-width: 770px) and (max-width: 1024px) {
    * {
        max-width: 1024px;
    }
    /*    header section    */
    .logo{
        font-size: 20px;
        margin-left: 30px;
    }
    .navbar>a{
        position: relative;
        left: 3vw;
        font-size: 20px;
        margin-left: 25px;
    }
    /*    Hero section    */
    .hero-section{
        position: relative;
        top: 5vw;
        right: 4vw;
    }
    .hero-content {
        top: 12vw;
    }
    .hero-img>img {
        position: relative;
        top: 12vw;
        right: 1vw;
        max-width: 140%;
    }
    .hero-content > h3 {
        font-size: 28px;
    }
    .hero-content > h1 {
        font-size: 40px;
        font-weight: 700;
        padding: -3px 0;
    }
    .hero-content > h1 > span{
        font-size: 45px;
    }
    .hero-content>p{
        z-index: 50;
        width: 60vw;
    }
    /*      About Section   */
    .about-section{
        bottom: 20vw;
    }
    .about-text>h2{
        font-size: 3rem;
    }
    .about-img>img{
        max-width: 120%;
        position: relative;
        bottom: 10vw;
    }
    .about-text{
        position: relative;
        left: 5vw;
    }
    .about-text>h2{
        font-size: 3rem;
    }
    .about-text>h4{
        font-size: 1.5rem;
        margin: 7px 0 15px;
    }
    .about-text>p{
        max-width: 80%;
        color: aliceblue;
        font-size: 1.2rem;
        line-height: 1.4;
        margin-bottom: 4rem;
    }

    /*    assigment-section    */
    .assigment-section{
        position: relative;
        bottom: 20vw;
    }
    .sub-title{
        font-size: 3rem;
    }
    .assigment-list{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
        grid-gap: 40px;
        margin-top: 50px;
    }
    .assigment-list>div{
        height: 30vw;
    }
    .assigment-list>div>i{
        font-size: 1.9rem;
    }
    .assigment-list>div>h2{
        font-size: 1.6rem;
    }
    .assigment-list>div>p{
        font-size: 1rem;
    }
    .read{
        font-size: 1rem;
    }

    /*      Skill       */
    .skill {
        bottom: 25vw;
    }
    .skill>h2{
        font-size: 3rem;
    }
    .spac-timeline li {
        margin: 3rem 0;
    }
    .spac-timeline-content{
        height: 15vw;
        padding: 0;
        margin: 0;
    }
    .spac-timeline-icon {
        width: 6rem;
        height: 6rem;
        right: -4.5vw;
        top: -5vw;
    }
    .spac-timeline-text{
        position: relative;
        bottom: 2vw;
    }
    .spac-timeline-text h5 {
        position: relative;
        font-size: 1.3rem;
        text-align: center;
        padding: 0 0 5px 0;
    }
    .spac-timeline-text p {
        font-size: 0.9rem;
    }
    .spac-timeline li:nth-child(even) .spac-timeline-icon {
        left: -4.7vw;
    }
    .icon > div > i {
        top: 2vw;
        font-size: 4rem;
    }

    /*      project     */
    .portfolio{
        bottom: 35vw;
    }

    /*      Contact     */
    .contact{
        position: relative;
        bottom: -4vw;
    }

    .last-text>p{
        padding: 0;
        margin-top: 0;
        bottom: -9vw;
    }
    .top{
        bottom: 1vw;
        right: 5vw;
    }
    }