/*      Laptop 1440px       */

@media all and (min-width: 1024px) and (max-width: 1440px) {
    *{
        max-width: 1440px;
    }
/*    header section    */
    .hero-section{
        position: relative;
        top: 7vw;
    }
    .hero-content{
        top: 6vw;
    }
    .hero-content>p{
        width: 114%;
    }
    .hero-img {
        bottom: 300px;
        left: -2vw;
    }
    .hero-img>img{
        max-width: 120%;
    }

    /*      About Section   */
    .about-section{
        /*bottom: 50vh;*/
        bottom: 30vw;
    }
    .about-text>h2{
        font-size: 5rem;
    }
    .about-section >.about-text{
        position: relative;
        top: 15vh;
    }

    /*    assigment-section    */
    .assigment-section {
        bottom: 70vh;
    }
    .assigment-list{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(359px,1fr));
        grid-gap: 40px;
        margin-top: 50px;
    }

    /*      Skill       */
    .skill {
        bottom: 75vh;
    }
    .spac-timeline{
        position: relative;
        right: 6vw;
    }
    .spac-timeline-content {
        width: 65%;
    }
    .spac-timeline-icon {
        right: -60px;
        top: -80px;
    }
    .spac-timeline-text p,h5 {
        position: relative;
        right: 5vw;
    }
    .spac-timeline li:nth-child(even) .spac-timeline-text {
        position: relative;
        left: 8vw;
    }
    .spac-timeline li:nth-child(even) .spac-timeline-icon {
        right: 25.5vw;
    }
    .spac-timeline li:nth-child(even) .spac-timeline-content{
        position: relative;
        left: 13.5vw;
    }
    /*      project     */
    .portfolio{
        bottom: 75vh;
    }
    .layer{
        left: 21px;
    }
    .layer>h5{
        position: relative;
        left: 1vw;
        text-align: center;
        font-size: 2rem;
    }
    .layer>p{
        font-size: 1.1rem;
        font-weight: 900;
    }

    /*      Contact     */
    .contact{
        position: relative;
        bottom: 20vh;
    }
    .last-text>p{
        position: relative;
        bottom: 20vh;
    }
    .top{
        bottom: 10rem;
    }

    }