*{
    padding: 0;
    margin: 0;
    /*max-width: 1440px;*/
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}
body{
    color: #d8d4dc;
    background: #0A0821;
}
header{
    position: fixed;
    background: transparent;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.logo{
    font-size: 25px;
    color: snow;
    text-decoration: none;
    margin-left: 50px;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar{
    position: relative;
    right: 1vw;
}
.navbar>a{
    display: inline-block;
    font-size: 25px;
    color: #0c64e7;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation:  slideTop .5s ease forwards;
    animation-delay:  calc(.2s * var(--i));
}
.navbar>a:hover{
    color: #0ef;
}

/*      Hero section     */
.hero-section {
    display: flex;
    justify-content: space-between; /* Distributes columns evenly */
    overflow: hidden;
    padding: 100px ;
    max-width: 100%;
    height: auto;
    /*height: 100vh;*/
}
.hero-content {
    max-width: 50%;
    position: relative;
    top: 25vh;
}
.hero-content > h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.7s;
}
.hero-content > h3:nth-of-type(2) {
    margin-bottom: 3vh;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
}
.hero-content > h3 > span {
    color: #7309f8;
}
.hero-content > h1 {
    font-size: 56px;
    font-weight: 700;
    padding: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.hero-content > h1 > span{
    font-size: 60px;
    color: #7309f8;
    text-shadow: 0 0 3px #7309f8;
}
.hero-content > p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
}
.hero-social-media > a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #7309f8;
    border-radius: 50%;
    font-size: 20px;
    color: #7309f8;
    text-decoration: none;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(0.2s * var(--i));
    margin: 30px 15px 30px 0;
}
.hero-social-media > a:hover {
    background: #7309f8;
    color: #ffffff;
    box-shadow: 0 0 0 10px  #7309f8;
}
.btn-more-about {
    display: inline-block;
    padding: 12px 28px;
    background: #1a0332;
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #7309f8, 0 0 25px #4A237C;
}
.btn-more-about:hover {
    background: #7309f8;
    box-shadow: 0 0 5px #7309f8, 0 0 25px #7309f8, 0 0 50px #7309f8, 0 0 100px #7309f8;
}
.hero-img {
    position: relative;
    bottom: 250px;
    left: 5vw;
    max-width: 50%;

}
.hero-img > img {
    position: relative;
    max-width: 100%;
}

/*      About Section   */

.about-section{
    display: flex;
    max-width: 100%;
    padding: 10px;
    position: relative;
    bottom: 40vh;
    /*align-items: center;*/
    /*gap: 1.5rem;*/
}
.about-section>.about-img{
    max-width: 50%;
}
.about-img>img{
    max-width: 100%;
    position: relative;
    bottom: 25vh;
}

.about-section >.about-text{
    max-width: 100%;
    position: relative;
    top: 35vh;
}
.about-text>h2{
    font-size: 60px;
}
.about-text>h2>span{
    color: #4A237C;
}
.about-text>h4{
    font-size: 29px;
    font-weight: 600;
    color: snow;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text>p{
    max-width: 90%;
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}


/*    assigment-section    */
.assigment-section{
    position: relative;
    bottom: 60vh;
    color: aliceblue;
    max-width: 100%;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 20rem;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 5px;
}
.sub-title>span {
    color:#4A237C;
}
.container{
    padding: 90px;
}
.assigment-list{
    display: grid;
    /*grid-template-columns: repeat(auto-fill,minmax(259px,1fr));*/
    /*grid-template-columns: repeat(auto-fill,minmax(389px,1fr));*/
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.assigment-list>div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #4A237C,
    1px 1px 20px #7320db;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center;
}
.assigment-list>div>i{
    color:#4A237C;
    font-size: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;

}
.assigment-list>div>h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
}
.assigment-list>div>a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;


}
.read{
    display: inline-block;
    padding: 10px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #4A237C,
    0 0 25px #4A237C;
}
.read:hover{
    /*background: #00eeff;*/
    /*color: #1a0332;*/
    /*box-shadow: 0 0 20px #00eeff;*/
    box-shadow: 0 0 5px #4A237C,
    0 0 25px #5c1bb2,
    0 0 50px #45167c,
    0 0 100px #33105b,
    0 0 200px #230a46;
}
.assigment-list>div:hover{
    transform: translateY(-15px);
}

/*      Skill       */
.skill {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align all content */
    margin: 0 auto; /* Center the entire section */
    padding: 50px;
    position: relative;
    bottom: 55vh;
}
.skill>h2{
    font-size: 60px;
    margin-bottom: -50px;
}
.skill>h2>span{
    color: #4A237C;
}
.spac-timeline {
    padding: 0;
    max-width: 50%;
    margin: 90px 0;

    width: 90%; /* Allow it to take full width */
}
.spac-timeline ul {
    margin: 0;
    padding: 0;
}
.spac-timeline li {
    margin: 4rem 0; /* Adjust vertical margin */
    padding: 0;
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: row;
}
.spac-timeline-content {
    width: 50%;
    position: relative;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.1rem solid #4A237C;
    padding-bottom: 60px;
}
.spac-timeline-text {
    max-width: 80vw;
}
.spac-timeline-text h5 {
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0 0 10px 0;
}
.spac-timeline-text p {
    font-size: 1rem;
    color: #dadbdf;
    text-align: center;
    margin: 0;
    padding: 0;
}
.spac-timeline-number {
    position: absolute;
    left: 0;
    top: -35px;
    border-radius: 50%;
    background-color: transparent;
    width: 67px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    font-size: 18px;
}
.spac-timeline-icon {
    position: absolute;
    justify-content: center;
    right: -70px;
    top: -70px;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #5e2f99, #361263);
}
.spac-timeline li:nth-child(even) {
    flex-direction: row-reverse;

}
.spac-timeline li:nth-child(even) .spac-timeline-number {
    left: auto;
    right: 0;
}
.spac-timeline li:nth-child(even) .spac-timeline-icon {
    right: 20vw;
}
.spac-timeline li:nth-child(even) .spac-timeline-content {
    border-right: 1px solid transparent;
    border-left: 0.1rem solid #4A237C;
}
.spac-timeline li:last-child .spac-timeline-content {
    padding-bottom: 0;
    border-right: 0;
}
.spac-timeline li:first-child .spac-timeline-content {
    border-right: 1px solid #4A237C;
    border-left: 2px solid transparent;
}
.skill-icon {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    margin-top: -8rem;
}
.skill-title{
    font-size: 2rem;
    font-weight: 600;
}
.skill-title>i{
    font-size: 2rem;
    font-weight: 600;
    position: relative;
    right: 0.5vw;
    top: 0.5vh;
    color: #6331a0;
}
.icon {
    display: flex;
    gap: 1vw;
}
.icon > div > i {
    position: relative;
    top: 2vh;
    font-size: 5rem;
}
.icon > div > i:hover {
    text-shadow: 0 0 10px #4A237C,0 0 20px #4A237C,0 0 40px #4A237C;
}

/*      project     */
.portfolio{
    position: relative;
    bottom: 47vh;
}
.main-text{
    padding-top: 130px;
    margin-top: 200px;

}
.main-text>h2{
    font-size: 60px;
    line-height: 1;
    padding: 50px;
    text-align: center;
}
.main-text>h2>span{
    color: #4A237C;
}
.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ensures responsive behavior */
    gap: 20px; /* Adds space between the grid items */
    justify-items: center; /* Centers the grid items horizontally */
    padding: 20px;
}
.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center; /* Ensures the image inside is centered */
    align-items: center; /* Centers vertically */
}
.row>img{
    width: 80%;
    border-radius: 8px;
    display: block;
    transition: transform 0.1s;
    background: transparent;
}
.layer{
    width: 89%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),#4A237C);
    position: absolute;
    border-radius: 8px;
    left: 34px;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer>h5{
    color: black;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer>p{
    color: black;
    font-size: 1.5rem;
    line-height: 1.8;
}
.layer>a>i{
    color: red;
    margin-top: 20px;
    font-size: 30px;
    background: #000000;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover>img{
    transform: scale(1.1);
    border-radius: 10% 10% 0 0;
}
.row:hover>.layer{
    height: 100%;

}

/*      Contact     */
.contact{
    display: flex;
    width: 95%;
    padding-left: 80px;
}
.contact-text>h2{
    position: relative;
    bottom: 10vh;
    font-size: 6rem;
    line-height: 1;
    text-align: center;
}
.contact-text>h2>span{
    color: #45167c;
}
.contact-text>h4{
    position: relative;
    bottom: 5vh;
    color: rgb(254, 254, 254);
    font-size: 1.8rem;
    font-weight: 600;
}
.contact-text>p{
    /*background: white;*/
    position: relative;
    bottom: 2vh;
    width: 90%;
    color: rgb(177,177,177);
    font-size: 1.3rem;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
    line-height: 2rem;
}
.contact-list>li{
    margin-bottom: 15px;
    font-size: 1.4rem;
    display: block;
}
.contact-list>li>i{
    display: inline-block;
    position: relative;
    right: 0.5rem;
    top: 0.2rem;
    color: #45167c;
    font-size: 1.5rem;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list>li:hover{
    transform: scale(1.01) translateY(-5px);
    color: #45167c;
}

.contact-icon>a>i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #45167c;
    border-radius: 50%;
    font-size: 20px;
    color: #45167c;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));

}
.contact-icon>a>i:hover {
    background: #45167c;
    color: white;
    box-shadow: 0 0 20px #45167c;
}

.contact-form>form{
    position: relative;
    /*background: #1a0c2f;*/
    border-radius: 0.5rem;
    height: 35rem;
}
.contact-form>form>input,form>textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    margin: 0.5rem 35px;
    margin-top: 1rem;
    /*color: black;*/
    font-size: 1rem;
    font-weight: 600;
    /*margin-bottom: 0.9rem;*/
    border-radius: 0.5rem;

}
.contact-form>textarea{
    resize: none;
    height: 220px;
}
.contact-form>form>.send{
    display: inline-block;
    padding: 12px 60px;
    background: #45167c;
    border-radius: 40px;
    font-size: 18px;
    color: #1a0332;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    /*transition: .5s ease;*/
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #45167c,
    0 0 25px #320f5d;
}
.contact-form>form>.send:hover {
    color: white;
    box-shadow: 0 0 5px #45167c,
    0 0 25px #45167c,
    0 0 50px #45167c,
    0 0 100px #45167c,
    0 0 200px #45167c;

}

.last-text>p{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    /*background: rgb(7,85,91);*/
    font-weight: 300;
    margin-top: 70px;

}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}
.top>i{
    color: black;
    background: #00eeff;
    padding: 10px;
    border-radius: 0.5rem;
}



/*  Animation   */
@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
