/*      Tablet = 768px      */
@media all and (min-width: 426px) and (max-width: 768px) {
    *{
        max-width: 768px;
    }
    /*  Header Section */
    .logo{
        font-size: 20px;
        margin-left: 17px;
    }
    .navbar>a{
        font-size: 20px;
        margin-left: 17px;
    }

    /*      Hero section     */
    .hero-section {
        overflow: hidden;
        padding: 20px;
        position: relative;
        top: 16vw;

    }
    .hero-content {
        position: relative;
        left: 2vw;
        z-index: 10;
    }
    .hero-content > h3 {
        font-size: 1.7rem;
    }
    .hero-content > h1 {
        font-size: 2.5rem;
    }
    .hero-content > h1>span {
        font-size: 2.5rem;
    }
    .hero-content > h3:nth-of-type(2) {
        width: 115%;
        position: relative;
        top: 1vw;
        margin-bottom: 4vw;
    }
    .hero-content > p {
        width: 115%;
        font-size: 1.2rem;
    }
    .hero-img {
        position: relative;
        display: flex;
        left: -7vw;
        bottom: 10vw;
    }
    .hero-img > img {
        max-width: 125%;
    }

    /*      About Section   */
    .about-section{
        overflow: hidden;
        top: 16vw;
        padding-top: 20vw;
    }
    .about-text{
        position: relative;
        margin-top: -20vw;
    }
    .about-text>h2{
        font-size: 3rem;
    }
    .about-text>h4{
        font-size: 1.5rem;
        position: relative;
        top: 3vw;
    }
    .about-text>p{
        font-size: 1rem;
    }
    .about-img>img{
        max-width: 130%;
        bottom: 22vw;
        right: 2vw;
    }
    .about-text>a{
        position: relative;
        z-index: 50;
        bottom: 5vw;
    }

    /*    assigment-section    */
    .assigment-section{
        overflow: hidden;
        top: 14vw;
    }
    .sub-title{
        font-size: 3rem;
    }
    .assigment-list>div{
        height: 40vw;
    }
    .assigment-list{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(274px,1fr));
        grid-gap: 40px;
        margin-top: 50px;
    }
    .assigment-list>div>i{
        position: relative;
        top: 2vw;
        font-size: 3rem;
    }
    .assigment-list>div>h2{
        font-size: 1.8rem;
    }
    .assigment-list>div>p{
        font-size: 1rem;
    }
    .read{
        position: relative;
        bottom: 3vw;
        font-size: 1rem;
    }

    /*      Skill       */
    .skill {
        overflow: hidden;
        top: 20vw;
    }
    .skill>h2{
        font-size: 3rem;
    }
    .spac-timeline{
        position: relative;
        right: 17vw;
    }
    .spac-timeline li {
        margin: 2rem 0;
    }
    .spac-timeline-content{
        height: 25vw;
        width: 40vw;
        padding: 0;
        margin: 0;
    }
    .spac-timeline-icon {
        width: 6rem;
        height: 6rem;
        right: -4.5vw;
        top: -5vw;
    }
    .spac-timeline-text{
        position: relative;
        bottom: 4vw;
        z-index: 50;
        right: 5vw;
    }
    .spac-timeline-text h5 {
        position: relative;
        font-size: 1.3rem;
        text-align: center;
        padding: 0 0 5px 0;
    }
    .spac-timeline-text p {
        font-size: 0.9rem;
    }
    .spac-timeline li:nth-child(even) .spac-timeline-text {
        left: 1vw;
    }
    .spac-timeline li:nth-child(even) .spac-timeline-icon {
        left: -7vw;
    }
    .spac-timeline li:nth-child(even) .spac-timeline-content{
        position: relative;
        left: 36.5vw;
    }
    .skill-icon{
        z-index: 50;
    }

    /**/

}