/*      Tablet = 768px      */
@media all and (min-width: 426px) and (max-width: 768px) {
    *{
        max-width: 768px;
    }
    /*  Header Section */
    .logo{
        font-size: 20px;
        margin-left: 17px;
    }
    .navbar>a{
        font-size: 20px;
        margin-left: 17px;
    }

    /*      Hero section     */
    .hero-section {
        padding: 20px;
        position: relative;
        top: 16vw;

    }
    .hero-content {
        position: relative;
        left: 2vw;
        z-index: 10;
    }
    .hero-content > h3 {
        font-size: 1.7rem;
    }
    .hero-content > h1 {
        font-size: 2.5rem;
    }
    .hero-content > h1>span {
        font-size: 2.5rem;
    }
    .hero-content > h3:nth-of-type(2) {
        width: 115%;
        position: relative;
        top: 1vw;
        margin-bottom: 4vw;
    }
    .hero-content > p {
        width: 115%;
        font-size: 1.2rem;
    }
    .hero-img {
        position: relative;
        display: flex;
        left: -7vw;
        bottom: 10vw;
    }
    .hero-img > img {
        max-width: 125%;
    }

    /*      About Section   */
    .about-section{
        top: 16vw;
    }
    .about-text{
        position: relative;
        margin-top: -20vw;
    }
    .about-text>h2{
        font-size: 3rem;
    }
    .about-text>h4{
        font-size: 1.5rem;
        position: relative;
        top: 3vw;
    }
    .about-text>p{
        font-size: 1rem;
    }
    .about-img>img{
        max-width: 130%;
        bottom: 22vw;
        right: 2vw;
    }
    .about-text>a{
        position: relative;
        z-index: 50;
        bottom: 5vw;
    }


    /**/

}