/*      Tablet = 768px      */
@media all and (min-width: 426px) and (max-width: 768px) {
    *{
        max-width: 768px;
    }
    /*  Header Section */
    .logo{
        font-size: 20px;
        margin-left: 17px;
    }
    .navbar>a{
        font-size: 20px;
        margin-left: 17px;
    }



/**/

}